body {
    line-height: 1;
    background-color: #F0FFFF;
}

.container{
    margin: 0;
    padding: 0;
    background-color: #e6e6fa;
}
#head_wrap{
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: 35px;
    border-bottom: 5px solid blue;
    background-color: #00FFFF;
}
#header{
    margin: 0 auto;
    padding: 10px;
    width: 1000px;
    height: 35px;
}

#menu {
    line-height: 35px;
    padding: 0;
    margin: 0;
    float: left;
}

#menu li{
    display: inline;
    list-style: none;
}

#menu a{
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #0B608B;
    font-size:20px;
    font-weight: bold;
}

#menu a:hover{
    color: blue;
    font-weight: bolder;
    text-decoration: underline;
}

.content{
    width:1000px;
    height: 500px;
    margin: 0 auto;
}

#form1{
    float: right;
    line-height: 35px;
}

#user_timeline{
    background: #00FFFF;
    width:250px;
    float: left;
    height:600px;
    border-right: 1px solid blue;
    margin-top: 10px;
    padding-top: 5px;
}

#user_details {
    padding: 10px;
}

#user_details img{
    border: 2px solid black;
    border-radius: 20px;
}

#user_details p{
    border-bottom: 10px;
    padding: 5px;
}

#user_details_block {
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    width:200px;
    margin: 0 auto;
    padding: 5px;
}

#user_details a{
    color: #0B608B;
    text-decoration: none;
    font-size: 20px;
}

#user_details a:hover{
    color: blue;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

#content_timeline{
    float: right;
    width: 700px;
    padding: 10px;
}

#postForm input{
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

#postForm textarea{
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

#postForm select{
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    font-weight: bold;
}

#postForm select:hover{
    background-color: aquamarine;
}

#postForm input:hover{
    background-color: aquamarine;
}

#postForm textarea:hover{
    background-color: aquamarine;
}

#postForm h2{
    font-family: "Courier New", monospace;
    color: #0B608B;
}

#posts{
    width:600px;
    background-color: cornflowerblue;;
    padding: 10px;
    line-height: 20px;
    border: 1px solid black;
    text-align: justify;
 }

#posts img{
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}

#posts h3{
    color: brown;
}

#pagination{
    margin-top: 20px;
}

#pagination a{
    margin: 5px;
    color: blue;
    text-decoration: none;
    font-size: 18px;
}

#pagination a:hover{
    color: #00FFFF;
    font-weight: bold;
}

#footer{
    width:100%;
    height: 20px;
    background-color: #00FFFF;
    padding: 10px;
    text-align: center;
    border-top:5px solid blue;
    clear: both;
}